<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ASSETSMGR" connectionString="Data Source=10.158.32.10;Initial Catalog=MiddleOffice;Persist Security Info=True;User ID=ssis_user;Password=if&lt;!nX}O;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
